@media screen and (min-width:960px) and (max-width: 1024px) {
  /* put your css styles in here */
  
   
    

    
    

    
    
}

@media screen and (min-width:0px) and (max-width: 959px) {
  /* put your css styles in here */
    #teammain{
     display:none;   
    }
    #mobileteammain{
     display:table;
    }
#mobileteammain table{
    margin-left: auto;
    margin-right: auto;
    
    
}
    #mobileteammain table tr td img{
     border-radius: 100%;
        width:250px;
        
    }
  #PageLinks{
   display:none;   
      
  }
#MobilePageLinks{
 display:inline;   
    
}
     
#main{
 display:none;   
}
#mobilemain{
 display:block;   
}
  #mobilemain h1{
      
   font-size:30px;   
  }
    #firstparagraph{
        font-size: 12px;
        line-height: -1px;
    width:100%;
    }
   
    
 .cardivs{
  height:auto;   
     
 }
}
<!--

@media screen and (min-width:769px) and (max-width: 800px) {
       #info{
     width:100%;
              height: 100%;  

        
    }
    
    
    #fullscreentable tr td{
     display: none;   
        
    }
    #infoheaders{
     font-size: 0.7em;   
    display: block;
    }
     #headers{
     display: none;   
    }
    
    #intro h1{
 visibility: visible;
}
    #intro img{
     visibility: hidden;
        
    }
    
    
       #skills table{
     display: inline;   
    }
    #skills table tr td{
        width: 100%;
    }
    
    
    
    #reasonstable{
        min-width: 250px;
                display: table;

    } 
     #talhaalipicture{
         margin-left:12%;

        width:200px;
        height: 200px;
        
        
    }
    
    

    
    #secondparagraph{
  margin-right: auto;
        margin-left: auto;
        width:100%;    }
    
    
    
}
@media screen and (min-width:569px) and (max-width: 768px) {
  /* put your css styles in here */
       #info{
     width:100%;
        
              height: 100%;  
    }
    
    
    #fullscreentable tr td{
     display: none;   
        
    }
  
    
   #infoheaders{
     font-size: 0.7em;   
display: block;
    
    }
     #headers{
     display: none;   
    }
       #skills table{
     display: inline;   
    }
    #skills table tr td{
        width: 100%;
    }
    
     #talhaalipicture{
margin-left: 35%;

        width:200px;
        height: 200px;
        
        
    }
    
    
    
    #secondparagraph{
  margin-right: auto;
        margin-left: auto;
        width:100%;    }
    
    
    
    
  
    
  

}

   
}

@media screen and (min-width:481px) and (max-width: 568px) {
   #info{
     width:100%;
              height: 100%;  
        
    }
       #infoheaders{
     font-size: 0.7em;   
display: block;
    
    }
    
    
    #fullscreentable tr td{
     display: none;   
        
    }
    
       #mobiletable{
        
    }
    
     #headers{
     display: none;   
    }
    
       #skills table{
     display: inline;   
    }
    #skills table tr td{
        width: 100%;
    }
    
     #reasonstable{
        min-width: 250px;
                 display: table;

    }
    #talhaalipicture{
        margin-left:27%;

        width:200px;
        height: 200px;
        
        
    }
    
    
    
    #secondparagraph{
  margin-right: auto;
        margin-left: auto;
        width:100%;    }
    
    
    
   

}

    
    
    
    
    
}

@media screen and (min-width:321px) and (max-width: 480px) {
  /* put your css styles in here */
      #info{
     width:100%;
        height: 100%;

    }
       #mobiletable{
        display: none;
        
    }
    
    
    #fullscreentable tr td{
     display: none;   
        
    }
     #infoheaders{
     font-size: 0.7em;   
display: block;
    
    }
     #headers{
     display: none;   
    }
    
    #talhaalipicture{
     margin-left:25%;

        width:200px;
        height: 200px;
        
        
    }
    #intro h1{
 visibility: visible;
}
    
    
    #secondparagraph{
  margin-right: auto;
        margin-left: auto;
        width:100%;    }
    
    





}









@media screen and (min-width:0px) and (max-width: 320px) {
  /* put your css styles in here */
      #info{
     width:100%;
             height: 100%;  
 
        
    }
    
   #infoheaders{
     font-size: 0.7em;   
display: block;
    
    }
    
    
    #fullscreentable tr td{
     display: none;   
        
    }
    
    
    #mobiletable{
        display: none;
        
    }
    
    
    
     #headers{
     display: none;   
    }
       #skills table{
     display: table;
           width: 100%;
    }

    
       #mobiletable{
        display: none;
        
    }
    
    
    
    #talhaalipicture{
     margin-left:12%;
        
        
        width:200px;
        height: 200px;
        
        
    }
   
    #secondparagraph{
     margin-right: auto;
        margin-left: auto;
        width:100%;
    }
    
    
    
    
 

}
->